# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Backend/*/*/*.txt
Backend/*/*/*.wav
Backend/*/__pycache__
Backend/Clasificador/modelo/*.model
Backend/Clasificador/modelo/*.npy
Backend/Clasificador/modelo/*.zip
Backend/Clasificador/modelo/*.txt
Backend/*/*/__pycache__
!Backend/Clasificador/LEER - Intrucciones para instalar modelo.txt